<article class="row" id="work">
  <div class="col-xs-12">
    <h2>Work</h2>
    <p class="text-center">Screenshots are not provided due to company policy.</p>

    <section class="row">
      {{#each projects}}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 project">
          {{#if isNotSite}}
          <h3>{{title}}</h3>
          {{else}}
            <h3><a href="{{url}}" target="_blank">{{title}}</a></h3>
          {{/if}}

          <p>{{description}}</p>
          <ul class="list-inline">
            {{#each tags}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
      {{/each}}
    </section>
  </div>
</article>
