body {
  background: #337ab7;
  padding-top: 50px;
}

main {
  background: #fff;
  padding-bottom: 100px;
}

h1 {
  font-size: 48px;
  margin-top: 0;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-size: 16px;
}

article {
  margin-bottom: 30px;
}

article:before,
header:before {
  content: ' ';
  display: block;
  height: 100px;
  margin-top: -50px;
  visibility: hidden;
}

article:before {
  height: 70px;
}

section + section {
  margin-top: 45px;
}

header {
  background: url('../images/vim.jpg') 0 0 / cover no-repeat;
  color: #eee;
  margin: 0 -15px;
  padding: 0 15px 70px;

  p {
    font-size: 18px;
  }
}

/*===== Desktop =====*/
@media (min-width: 768px) {
  header {
    padding-bottom: 100px;
  }

  header:before {
    height: 150px;
  }
}
