#navbar {
  border: 0;
}

.navbar {
  background: #094b83;
  border: 0;
}

  .navbar-default .navbar-brand,
  .navbar-default .navbar-brand:focus,
  .navbar-default .navbar-brand:hover {
    color: #79dfb6;
    font-weight: bold;
  }

  .navbar-default .navbar-nav>li>a {
    color: #7eb1dc;
    transition: .25s;

    &:hover {
      background: #1265ab;
      color: #fff;
    }
  }

  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:focus,
  .navbar-default .navbar-nav>.active>a:hover {
    background: #fff;
  }

  .navbar-nav li {
    text-align: center;
  }
