/* General */
body {
  background: #337ab7;
  padding-top: 50px;
}

main {
  background: #fff;
  padding-bottom: 100px;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

article {
  margin-bottom: 30px;
}

article:before,
header:before {
  content: ' ';
  display: block;
  height: 50px;
  margin-top: -50px;
  visibility: hidden;
}

section + section {
  margin-top: 45px;
}

header {
}

/* Nav */
.navbar {
  background: #094b83;
  border: 0;
}

  .navbar-default .navbar-brand,
  .navbar-default .navbar-brand:focus,
  .navbar-default .navbar-brand:hover {
    color: #79dfb6;
    font-weight: bold;
  }

  .navbar-default .navbar-nav>li>a {
    color: #7eb1dc;
    transition: .25s;

    &:hover {
      background: #1265ab;
      color: #fff;
    }
  }

  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:focus,
  .navbar-default .navbar-nav>.active>a:hover {
    background: #fff;
  }

/* Projects */
.project img {
  margin-bottom: 10px;
}

.project .list-inline {
  margin-left: 0;
}

.project li {
  background: #7eb1dc;
  border-radius: 5px;
  color: #eee;
  padding: 2px 8px;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

/* About */
// Skills table
#about table {
  border: 1px solid #ccc;
  box-shadow: 0px 5px 25px 5px rgba(204,204,204,1);
  margin-top: 30px;

  td {
    border: 1px solid #ccc;
    padding: 15px;

    &:first-child {
      font-weight: bold;
    }
  }
}

// Education portion
#misc p {
  margin-bottom: 20px;
}

#misc p span {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
